*{
    margin: 0;
}

body{
    background-color: rgb(123, 57, 161);
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}

#container{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
    background-color: white;
    width: 70%;
    height: 70vh;
    border-radius: 2%;
    /* margin-top: 2em; */
}

/* div{
    border: 2px solid black;
    width:50%
} */

.plans {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 55%;
    height:63vh;
    border-right: 1px solid lightgray;
    margin-top:1.5em;
    padding: 0em 3em;
}

img{
    max-width:60%;
}

.image{
    text-align: center;
}

img+p{
    color:grey;
    font-weight: bold;
}


.plan_details{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    /* justify-content: center; */
    
}

.plan_details>p{
    
    /* text-decoration: overline; */
    /* padding: 1em; */
    color: rgb(123, 57, 161);
    font-weight:bold;
    border-top: 1px solid lightgray;
    padding: 0.9em 0em;
    font-size: small;

}

.plan_details>button{
    width: 50%;
    height: 5vh;
    margin: auto;
    background-color: white;
    color: rgb(123, 57, 161);
    border: 1px solid rgb(123, 57, 161);
    border-radius: 5px;
}

.plan_details:nth-child(3){
    font-weight: 800;
}

div.plan_details > p:nth-child(3){
    font-size: x-large;
    font-weight: bolder;
}

#smallteambtn{
    background-color: rgb(123, 57, 161);
    color: white;
}